[submodule "cal1t"]
	path = cal1t
	url = https://github.com/ankys/cal1t.git
[submodule "calc1t"]
	path = calc1t
	url = https://github.com/ankys/calc1t.git
[submodule "lina1t"]
	path = lina1t
	url = https://github.com/ankys/lina1t.git
[submodule "calc2t"]
	path = calc2t
	url = https://github.com/ankys/calc2t.git
[submodule "vecat"]
	path = vecat
	url = https://github.com/ankys/vecat.git
[submodule "meast"]
	path = meast
	url = https://github.com/ankys/meast.git
