
name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v4
      # Compile main.typ
      - name: Setup fonts
        run: sudo bash .scripts/setup_fonts.sh
      - name: Setup Typst
        uses: typst-community/setup-typst@v4
      - name: Compile Typst file
        run: bash .scripts/build.sh ${{github.ref_name}}
      # Create Release
      - name: Create Release
        run: gh release create ${{github.ref_name}} output/*.pdf --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
